<!DOCTYPE html>
<html>
<title>MarketPlace Solution</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="/base/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/base/bootstrap/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/x-icon" href="img/webIcon.png" />
<link rel="stylesheet" href="/css/stylesHomepage.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
<body>
<div class="w3-top">
<div class="w3-bar" id="myNavbar" style="background-color:#4d636f; color:#fff">
<a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
<i class="fa fa-bars"></i>
</a>
<a href="#home" class="w3-bar-item w3-button">HOME</a>
<a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT</a>
<a href="#values" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> VALUES</a>
<a href="#services" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> SERVICES</a>
<a href="#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
<a href="/login" class="w3-bar-item w3-button" id="sign"><i class="fa fa-sign-in" aria-hidden="true"></i> SIGN IN</a>
<a href="/signup" class="w3-bar-item w3-button" id="sign"><i class="fa fa-user-plus"></i> SIGN UP</a>
</div>
<div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
<a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
<a href="#values" class="w3-bar-item w3-button" onclick="toggleFunction()">VALUES</a>
<a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
<a href="/login" class="w3-bar-item w3-button">SIGN IN</a>
<a href="/signup" class="w3-bar-item w3-button">SIGN UP</a>
</div>
</div>

<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
<!---<div class="w3-display-middle" style="white-space:nowrap;">
<span><img src="img/logoMarketsPlace.png"></span>
</div> -->
<div style="text-align:center">
<span ><img style="border-radius:50%;  height:210px; padding:45px" src="img/logoMarketsPlace.png"></span>
</div>
</div>
<br><br>
<div id="about"></div>
<h3 class="w3-center">ABOUT</h3>
<div class="w3-row w3-container w3-content">
<p class="w3-col m8 w3-center w3-padding-large">
<about> <b>MarketPlace Solution</b> (Blockchain backed transparent and accountable Cattle trading platform). Online integrated platform where Farmers, Dairy Companies and Veterinaries can connect and interact with each other to Buy/Sell the Milk and also can trade cattles without involving any third party. This platform maintains digital identity of every user involved and brings more transparency in the business. It also provides authentication and chat facility backed by Blockchain technology to keep track of users identity and transaction’s integrity across the platform which provides security, transparency, monitoring and verification due to its cryptographic, distributed and programmable nature. It provides the credit points to every type of user depending upon the feedback given by users. It also provides the power to raise their issues against particular seller/buyer.
</about>
</p>
<a class="twitter-timeline w3-col m4" style="float:right" href="https://twitter.com/Dept_AHD?lang=en" width="250" height="350">Tweets by MinistryAHD</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div class="w3-row w3-center w3-dark-grey w3-padding-16">
<div class="w3-quarter w3-section">
<span class="w3-xlarge">14+</span><br> Partners
</div>
<div class="w3-quarter w3-section">
<span class="w3-xlarge">55+</span><br> Projects Done
</div>
<div class="w3-quarter w3-section">
<span class="w3-xlarge">89+</span><br> Happy Clients
</div>
<div class="w3-quarter w3-section">
<span class="w3-xlarge">150+</span><br> Meetings
</div>
</div>
<div class="bgimg-2 w3-display-container w3-opacity-min" id="values">
<div class="w3-display-middle">
<span class="w3-xxlarge w3-text-white w3-wide">VALUES</span>
</div>
</div>
<br><br>
<div class="container-fluid bg-grey">
<div class="row">
<div class="col-sm-4">
<span class="glyphicon glyphicon-globe logo slideanim w3-center"></span>
</div>
<div class="col-sm-8">
<h2>Our Values</h2><br>
<p><strong>MISSION:</strong> We believe in developing innovative solutions to accelerate the pace of technological progress. We are envisioning a futuristic solution where trading with trust will happen over the network. Our Mission is solve all critical issues that farmer or milk buyers face during the business. To bring the transparency in the business.</p><br>
  <p><strong>VISION:</strong> Our vision is to provide easy solutions to difficult real life problems and maintain quality, preserve our values and provide transparency in procedures followed.
  </p>
  </div>
  </div>
  </div>
  <br>
  <div class="bgimg-4 w3-display-container w3-opacity-min" id="services">
  <div class="w3-display-middle">
  <span class="w3-xxlarge w3-text-white w3-wide">SERVICES</span>
  </div>
  </div>
  <br><br>
  <div class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>Transparent and Accountable Cattle Trading and Milk Buy/Sell services for Farmers, Dairy Companies & Veterinaries.</h4>
  <br><br>
  <div class="row slideanim">
  <div class="col-sm-4">
  <i class="fa fa-database" style="font-size:55px;color:#4d636f"></i>
  <h4>SMART DATA STORAGE</h4>
  <center>
  <p>Transparency, Immutability and Accountability through Blockchain</p>
  </center>
  </div>
  <div class="col-sm-4">
  <span class="glyphicon glyphicon-list-alt logo-small"></span>
  <h4>SMART RECOMMENDATION</h4>
  <p>Giving recommendation credits according to user feedback.</p>
  </div>
  <div class="col-sm-4">
  <i class="fa fa-credit-card" style="font-size:55px;color:#4d636f"></i>
  <h4>Smart Payments</h4>
  <p>Smart payment log using digital wallets.</p>
  </div>
  </div>
  <br><br>
  <div class="row slideanim">
  <div class="col-sm-4">
  <i class="material-icons" style="font-size:48px;color:#4d636f">speaker</i>
  <h4>POWER TO SPEAK</h4>
  <p>Raise an issue or pitch an idea</p>
  </div>
  <div class="col-sm-4">
  <span class="glyphicon glyphicon-globe logo-small"></span>
  <h4>SOCIAL TOUCH</h4>
  <p>Connect through chat</p>
  </div>
  <div class="col-sm-4">
  <i class="material-icons" style="font-size:50px;color:#4d636f">center_focus_strong</i>
  <h4>User Interfaces</h4>
  <p>Different UIs based on user(Farmers, Dairies & Veterinaries).</p>
  </div>
  </div>
  <br><br>
  <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
  <img id="img01" class="w3-image">
  <p id="caption" class="w3-opacity w3-large"></p>
  </div>
  </div>
  <div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
  <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
  </div>
  </div>
  <div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center">CONTACT US</h3>
  <p class="w3-center"><em>We'd love your feedback!</em></p>
  <div class="w3-col w3-panel">
  <div class="w3-large w3-margin-bottom">
  <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Pune, India<br>
  <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: marketplace-solutions@gmail.com<br>
  </div>
  </div>
  </div>
  <footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div-->
  </footer>
  </body>
  </html>
